
BODY {
	margin-top: 10px;
	margin-left: 10px;
	background-color: #ffffff;
	color: #000000;
	font-family : Arial Narrow;
	text-align : left;
	font-size : 12pt;
}


.pageTitle
{
	font-family: Impact;
	font-size: 26pt;
}
.sectionTitle
{
	font-family: Impact;
	font-size: 14pt;
}



.codeExampleTable {
	border: 1px solid Silver;
	width : 98%;
}

TD
{
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
}


TD.codeExplanationCell
{
	font-family : Arial Narrow;
	text-align : left;
	font-size : 12pt;
	border-top: 1px solid Black;
}

TD.codeExampleCell
{
	font-family : System;
	font-size : 10pt;
	text-align : left;
	background-color: #BBBBBB;
	border-top: 1px solid Black;
	padding-top: 15px;
	padding-bottom: 15px;
}

TD.codeExampleImageCell
{
	border-top: 1px solid Black;
	text-align: center;
	background-color: #CEF7CF;
}

.codeFragment
{
	font-family : System;
	font-size : 10pt;
}
